<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>FlightNumber</th>
      <th>FlightName</th>
      <th>Arrival</th>
      <th>Departure</th>
      <th>Duration</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let airline of airlines">
      <td>
        {{airline.arrival}}
      </td>
      <td>
        {{airline.departure}}
      </td>
      <td>
        {{airline.duration}}
      </td>
      <td class="text-right">
        {{airline.price}}
      </td>
    </tr>
  </table>
</div>